body{
    margin: 0;
    padding: 0;
    background-color:rgb(249,249,249) ;
    font-family: 'Trebuchet MS', sans-serif;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(1,134,218);
}
.box{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: centre;
    border: 2px solid gray;
    width: 70vw;
    padding: 2rem;
}
.box>p{text-align: center; color: gray;}
.box>form{
    text-align: center;
}
#longUrl{
    padding:.5rem;
    width: 80%;
    font-size: 1.5rem;
}
#submitBtn{
    padding: .5rem;
    background-color: rgb(1,134,218);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
a{
    color: blue;
}
