<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/style/general.css">
</head>
<body>
    <header>
        Short URL
    </header>
    <main>
        <%= message %>
        <a href="/">Go to Home Page.</a>
    </main>
</body>
</html>